/* header.js */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.header {
  display: flex;
  padding: 10px 15px;
  background-color: #fafafaf8;
  justify-content: space-between;
  align-items: center;
}

.header_logo{
  color: #333;
  font-size: 30px;
  font-weight: bold;
}

.header_list{
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 16px;
  font-weight: bold;
}

.header_item_contact{
  background-color: #2486d1;
  color: #fff;
  padding: 6px 16px;
  border-radius: 6px;
}

/* pagination.js */
.pagination{
    display: inline-flex;
    justify-content: center;
}

.page-link {
	display: block;
	text-align: center;
	text-decoration: none;
	margin: auto;
	padding: 1rem 2rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	transition: 0.5s;
}
.page-link:hover {
	color: #27acd9;
	background: #fff;
}
